<% for(var i = 0; i < showUser.length; i++) { %>
  <tr>
      <td><%= i + 1 %></td>
      <td><%= showUser[i].name %></td>
      <td><%= showUser[i].email %></td>
      <td><%= showUser[i].gender %></td>
      <td><%= showUser[i].status %></td>
      <td>
          <a href="/update-user?id=<%= showUser[i]._id%>" class="btn border-shadow update">
              <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
          </a>
          <a class="btn border-shadow delete" data-id=<%= showUser[i]._id%> >
              <span class="text-gradient"><i class="fas fa-times"></i></span>
          </a>
      </td>
  </tr>
  <% } %>